---
const platforms = ["github", "linkedin"];
const handles = ["Henry-Denny", "henry-denny"];
---

<footer>
  <p>
    Learn more about my projects on <a href={`https://www.${platforms[0]}.com/${handles[0]}`}>{platforms[0]}</a>!
    You can also find me on <a href={`https://www.${platforms[1]}.com/in/${handles[1]}`}>{platforms[1]}</a>
  </p>
</footer>
